#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-screen {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px;
  color: #000000;
  background: #fcfcfc;
  border: 1px solid #c0c0c0;
}

.login-screen > label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 8px;
  align-items: center;
}

.login-screen > label > input {
  padding: 4px;
  font-size: 105%;
}

.login-screen > button {
  background: #d0d0d0;
}

